*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9.5px 10px;
}
ul{
    display: flex;
    text-decoration: underline;
    list-style-type: none;
}
ul li{
    margin-left: 20px;
}
.teacozy{
    height: 50px;
}

/* Main */
.mainmission{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img-mission-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 1200px;
}
.mission_tag{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;    
}

/* Section 2 */
#selection2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;

}
.section2a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}

.selection2img1 img, .selection2img2 img{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selection2imgcont{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.selection2img1:nth-child(2) img{
    margin: 0 50px;
}
.selection2img2 img{
    margin:0 25px;
}
.selection2img1 h4, .selection2img2 h4{
    margin: 10px;
}

/* section 3 */
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3a{
    background-image: url(img-locations-background.webp);
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 500px;
    width: 1200px;
}
.selection3location_cont{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.section3location{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    text-align: center;
    line-height: 70px;
    width: 300px;
    margin: 15px 20px;
}

/* Footer */

.footer_a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.footer_a1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}
footer h5:last-child{
    margin: 10px;
}